body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  background: #000;
}

.screen {
  height: 100vh;
  overflow: hidden;
}

.backGround {
  left: -50px !important;
  top: -50px !important;
  img {
    width: 110vw;
    height: 110vh;
  }
}

.ufo {
  left: 45vw !important;
  top: 20vh !important;
  position: relative;
  .plate {
    position: absolute;
    width: 50%;
    top: 10px;
    left: 0;
    transform: scale(-1, 1);
  }
  .light {
    width: 50%;
  }
}

#blink1 {
  animation: blink1 8s linear infinite;
}
@keyframes blink1 {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.rockBack {
  width: 120vw;
  top: unset !important;
  left: -100px !important;
  bottom: 0;
  img {
    width: 100%;
  }
}

.rockFront {
  width: 120vw;
  top: unset !important;
  left: -100px !important;
  bottom: 10%;
  img {
    width: 100%;
  }
}

.bottom {
  width: 120vw;
  top: unset !important;
  left: -120px !important;
  bottom: -15%;
  position: relative;
  .land {
    width: 100%;
  }
  .rocket {
    position: absolute;
    left: 9%;
    bottom: 40%;
    width: 30%;
  }
  .robot {
    position: absolute;
    left: 48%;
    bottom: 55%;
    width: 7%;
  }
}

#tremor {
  animation: tremor1 0.1s linear infinite;
}
@keyframes tremor1 {
  0% { transform: translateX(0.3%); }
  50% { transform: translateX(-0.3%); }
  100% { transform: translateX(0.3%); }
}

.planetRed{
  left: 60% !important;
  top: -15% !important;
  img {
    width: 100%;
    filter: brightness(0.6);
  }
}

.planetViolet{
  left: 10% !important;
  top: 10% !important;
  img {
    width: 40%;
    filter: brightness(0.7);
  }
}

#rotation {
  animation: rotation1 6s linear infinite;
}

@keyframes rotation1 {
  0% { transform:rotate(0deg); }
  25% { transform:rotate(10deg); }
  50% { transform:rotate(0deg); }
  75% { transform:rotate(-10deg); }
  100% { transform:rotate(0deg); }
}

#increase {
  animation: increase1 7s linear infinite;
}

@keyframes increase1 {
  0% { transform:scale(1); }
  50% { transform:scale(1.2); }
  100% { transform:scale(1); }
}

#jump {
  animation: jump1 3s linear infinite;
}
@keyframes jump1 {
  0% { transform: translateY(0%); }
  50% { transform: translateY(16%); }
  100% { transform: translateY(0%); }
}